.contentBlock {
    position: relative;
    margin: 30px 0 0 0;
}

.userData {
    position: relative;
}

.userPost {
    margin: 25px 10px;
    position: relative;
}

.btnDeletePost {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: -10px;
    padding: 0;
}

.btnModifyPost {
    background: none;
    border: none;
    position: absolute;
    padding: 0;
    bottom: 10px;
    right: 20px;
}

.iconDelete,
.iconModify,
.iconSend {
    width: 20px;
    cursor: pointer;
    color: #898989;
    border: none;
    background: none;
}

.iconLikes {
    color: #898989;
    margin-left: 5px;
}

.iconDislikes {
    color: #007bff;
    margin-left: 5px;
}

.btnLikes {
    background: none;
    border: none;
    color: #898989;
    position: absolute;
    left: 10px;
    bottom: 2px;
    padding: 5px;
}

.btnDislikes {
    background: none;
    border: none;
    color: #898989;
    position: absolute;
    left: 10px;
    bottom: 2px;
    padding: 5px;
}

.likesCount {
    position: absolute;
    left: 3px;
    bottom: -10px;
    padding: 5px;
    font-size: 12px;
}

.btnSendComment {
    background: none;
    border: none;
    padding: 0;
}

.btnDeletePost:hover,
.btnModifyPost:hover,
.btnSendComment:hover,
.btnLikes:hover,
.btnDislikes:hover {
    border: none;
    background: none;
    color: #fd2d01;
}

.modifyForm {
    position: relative;
    margin: 20px 5px;
    padding: 40px;
    background: #f2f2f2;
    height: 80px;
}

.userPostContent {
    margin-bottom: 20px;
    width: 100%;
}

.file-input {
    width: 20px;
    height: 20px;
    opacity: 0;
    margin: 0;
    position: absolute;
    z-index: 40;
    box-shadow: none;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    right: 10px;
    top: 45px;
}

.btnPosts {
    display: flex;
    justify-content: right;
}

.btnSendModifyPost {
    margin: 0;
}

.inputImages {
    width: 30px;
    height: 38px;
    font-size: 13px;
    background: none;
    border: none;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    z-index: 30;
    position: absolute;
    right: 5px;
    top: 42px;
}

.makeCommentBlock {
    display: flex;
    margin: -10px 20px 10px 20px;
    padding: 25px 0;
}

.writeComment {
    width: 80%;
    margin: 0px auto;
}

.userPictureComment {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #eaeae7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.userPicture {
    width: 70px;
    height: 70px;
    background-size: cover;
}

.getComment {
    display: flex;
    position: relative;
    justify-content: flex-end;
    border-bottom: 1px solid #f2f2f2;
}

.btnDisplayCom {
    border: none;
    background: none;
    color: black;
    font-weight: 300;
}

.btnDisplayCom:hover {
    border: none;
    background: none;
}

.usersComment {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.UserName {
    margin: 0 30px 0 30px;
}

.infoBulle {
    position: absolute;
    background: rgba(243, 242, 239, 0.6);
    bottom: 5px;
    color: rgba(253, 45, 1, 0.8);
    right: 50px;
    border-radius: 10px;
    padding: 0px 40px;
}

.infoBulle::after {
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(243, 242, 239, 0.6);
    position: absolute;
    right: 15px;
    top: -5px;
}

@media screen and (max-width: 425px) {
    .postCreationDate {
        padding-top: 30px;
    }
}